body
{
    margin: 0; 
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    background-color: black;
    background-image: url("sources/images/633c3a4dbac00.png") ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#EVA
{
    display: flex;
    flex-wrap: wrap;
    /* min-width: 700px; */
    max-width: 700px;
}
#Angel
{
    display: flex;
    /* min-width: 700px; */
    flex-wrap: wrap;
    max-width: 700px;
}

.divDropDownMenuEVA
{
    margin: 10px 0 10px 0;
}
.divBtn
{
    margin: 10px 0 10px 40px;
}

.label
{
    color: white;
}

.cards
{
    border-radius: 0px 10px 0px 10px;
    padding: 10px 10px 40px 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.231);
    /* width: 100%; */
    /* height: 100%; */
}

.image
{
    align-self: center;
    height: auto;
    max-width: 120px;
    max-height: 250px;
}

.Card
{
    background-color: rgba(255, 255, 255, 0.558);
    border-radius: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 5%;
    width: 150px;
    max-width: 150px;
    max-height: 400px;
    height: 400px;
    transition: 0.5s;
}

.Card:hover
{
    background-color: rgb(176, 224, 177);
    scale: 1.1;
    /* min-height: 400px; */
}

.divPilote
{
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.cardParameters
{
    position: relative;
    display: flex;
    margin-top: 20px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* bottom: -5px; */
}

#btnFullscreen
{
    border-radius: 0px 10px 0px 10px;
    height: 20px;
}

button
{
    transition: 0.5s;
}

button:hover
{
    background-color: rgb(55, 149, 110);
}

.API_div
{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.DropDownMenus
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divDropDownMenuEVA
{
    align-self: center;
}
.divDropDownMenuAngel
{
    align-self: center;
}

.piloteLabel
{
    margin: 0;
}

.inputPiloteName
{
    max-height: 15px;
    max-width: 50px;
}

.piloteName
{
    margin: 0 0 0 5px;
}

.inputCardName
{
    margin-bottom: 10px;
}